<% @task.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<h2>Add New Task</h2>

  <%= form_tag("/users/#{@user.id}/tasks", method: "post") do %>
    <p>Enter task info</p>
    <input type="text" placeholder= "Task Name" name="tasks[name]">
    <input type="text" placeholder= "Description" name="tasks[description]">
    
    <input type="hidden" name="tasks[user_id]" value="<%= @user.id %>">
    
    <input type="submit">
  <% end %>
